<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Event Details</h1>
            <hr>
            <h3>Name: {{name}}</h3>
            <p><strong> Event Type: {{eventType}}</strong>
            </p>
            <div id="map" style="height: 400px;"></div>
            <p>Date: {{date}}</p>
            {{!-- <button class="btn btn-primary" onclick="joinEvent('{{_id}}')" id="joinButton">Join Event</button>
            --}}

            <form action="/events/{{id}}/assistance" method="POST">
                <button type="submit" class="btn btn-dark">Join Event</button>
            </form>
            <input type="hidden" id="id" value="{{_id}}">
        </div>
    </div>
</div>

<script src="/js/eventsMap.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?callback=initViewMarkers&key=AIzaSyB_60L-8Uew5vuQwTzHGAUOSgwDtxTdZNs"></script>