<div class="container mt-5">
    <div class="row">

        <div class="col-md-3">
            <div>
                <article class="character-card mb-5">
                    <h1>{{name}} details</h1>

                    <hr>
                    <img src={{sprites.versions.generation-iv.platinum.front_default}} alt="{{name}}">
                    <p>id: {{id}}</p>
                    <p>Weight: {{weight}}</p>
                    <p>Height: {{height}}</p>
                    <ul> Type
                        <li>{{types.[0].type.name}}</li>
                        <li>{{types.[1].type.name}}</li>
                        <li>{{types.[2].type.name}}</li>
                    </ul>

                    <hr>
                </article>
            </div>
        </div>

    </div>
</div>