<div class="user-profile">
    <div class="container bg-list">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img class="list-group-item" src="{{avatar}}" alt="{{username}}" class="img-fluid">
                </div>
                <div class="col-md-8">
                    <div class="card-body ">
                        <h5 class="card-title">{{username}}</h5>
                        <p class="card-text">Name: {{user.name}}</p>
                        <p class="card-text">Surname: {{user.surname}}</p>
                        <p class="card-text">City: {{user.address.city}}</p>
                        <p class="card-text">Email: {{user.email}}</p>
                        <hr>
                        <h6>Eventos</h6>
                        <ul class="list-group">
                            {{#each events }}
                            <li class="list-group-item">{{name}}</li>
                            <form action="/events/{{id}}/pull" method="POST" style="display: inline">
                                <input type="submit" value="Delete" class="btn btn-danger">
                            </form>
                            {{/each}}
                        </ul>
                        <hr>
                        <h6>Pokemons</h6>
                        <div class="row">
                            {{#each pokemonData }}
                            <div class="col-6 col-md-4 mb-3">
                                <div class="card">
                                    <a href="/pokemon/{{name}}"> <img
                                            src="{{sprites.versions.generation-vii.icons.front_default}}" alt="{{name}}"
                                            class="card-img-top"></a>
                                    <div class="card-body">
                                        <h6 class="card-title">{{name}}</h6>
                                    </div>
                                </div>
                                <form action="/unfavorite/{{name}}" method="POST" style="display: inline">
                                    <input type="submit" value="unFavorite" class="btn  btn-danger">
                                </form>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>